@(profile: ServiceProfile)(extra: Html)

<div class="profile-mini">
    <img class="avatar profile-item @profile.profileState" src="@profile.avatarUrl">
    <div class="profile-text-container profile-item">
        <div class="profile-name profile-item truncate"><a href="@routes.ProfileInfoController.readProfile(profile.id)">@profile.displayName</a></div>
        <div class="profile-status profile-item truncate">Is currently... @profile.profileState</div>
        <div class="profile-status profile-item truncate">Is playing: <a href="@routes.RecommendationController.recByGame(profile.currentlyPlaying.id)">@profile.currentlyPlaying</a></div>
    </div>
        @extra
</div>