@(game: Game, recommendations: Html)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, user: Option[ServiceProfile])

@main(Messages("home.title")) {
    <div class="game-large">
        <div class="game-profile game-mini">
            <img class="game-logo game-item" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/@{
                game.id
            }/@{
                game.logoUrl
            }.jpg" />
            <div class="game-text-container">
                <div class="game-title game-item">@game</div>
            </div>
        </div>
        <div class="recommendations">
        @recommendations
        </div>
    </div>
}