@(profile: ServiceProfile, friends: Seq[ServiceProfile], games: Seq[Game], commonFriends: Html)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets, user: Option[ServiceProfile])

@main(Messages("profilepage.title", profile.displayName)) {
    <div class="profile-large">
        <div class="user-profile profile-mini">
            <img class="avatar profile-item @profile.profileState" src="@profile.avatarUrl">
            <div class="profile-text-container profile-item">
                <div class="profile-name profile-item">@profile.displayName</div>
                <div class="profile-status profile-item">Is currently... @profile.profileState</div>
                <div class="profile-status profile-item">Is playing: @profile.currentlyPlaying</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3">@commonFriends</div>
            <div class="col-md-8 col-lg-6">
                <div class="row">
                    <span class="friends">
                    @for(groupOf2 <- friends.grouped(2)) {
                        <div class="row">
                        @for(friend <- groupOf2) {
                            <div class="col-md-6">@simpleMiniProfile(friend)</div>
                        }
                        </div>
                    }
                    </span>
                    <div class="games">
                    @for(game <- games) {
                        @simpleGameMini(game)
                        <br>
                        }
                    </div>
                </div>
            </div>

        </div>


    </div>
}

