@(socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)



@main(Messages("sign.in.title")) {
    <fieldset class="col-md-6 col-md-offset-3">

        @if(socialProviders.providers.nonEmpty) {
            <div class="social-providers">
                <p>@Messages("sign.in.welcome")</p>
                <div>
                @for(p <- socialProviders.providers) {
                    <a href="@routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@Messages(p.id)"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" alt="@Messages(p.id)"></a>
                }
                </div>
            </div>
        }

    </fieldset>
}(request, messages, webJarAssets, user = None)
